@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

/*HEADER BEM ALINHADO + LOGO SEPARADA DO li*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*logo do starbucks*/
header .logo{
    position: relative;
    max-width: 80px;
}

/*ORGANIZAR A LI*/

/*GERAL*/
header ul{
    display: flex;
}

/*ELEMENTOS ESPECIFICAMENTE*/
header ul li{
    list-style: none; /*retirar a bolinha*/
}
/*DIRETAMENTE NA PALAVRA*/
header ul li a{
    display: inline-block;
    color: #333;
    fonts-weight: 400;
    margin-left: 40px; /*espaçamemto entre as palavras*/
    text-decoration: none; /*retirar o subilinhado*/
}